<section class="section">
  <div class="columns">
    <div class="column">
    <div class="column">Auto

      <form>

        <!--Search band name -->
        <label for="band">Search Band</label>
        <input type="text" id="band" name="band">

        <!--Search band name -->
        <label for="username">Search User</label>
        <input type="text" id="username" name="username">

        <!--Search band name -->
        <label for="zipcode">Search ZipCode</label>
        <input type="text" id="zipcode" name="zipcode">
      </form>

      </nav>
    </div>
</section>